h1{
    color: yellow;
    background-color: darkblue;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: darkblue;
}
.point{
    font-size: 20px;
    padding: 20px;
    color: yellow;
    background-color: darkblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.point-table{
    height: 2000px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0%;
}
th{
    color: azure;
    background-color: deeppink;
    padding: 8px;
    font-size: bold;
}
table{
    border-collapse: collapse;
    height: 400px;
    width: 80%;
    text-align: center;
    margin-right: 10%;
}
tr{
    padding: 0px 10px;
    margin: 0px;
    border-bottom: 0.5px solid rgb(6, 6, 6);
    color: aliceblue;
   }
   .im{
    text-align: left;
    font-weight: bold;
   }
   .oo img{
    height: 20px;
    width: 18px;
    
   }
   #non{
    color: deeppink;
   }
   #pp{
    text-align: left;
   }
   .tb{
    background-image: url(images/wp11553144.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }
   .rule{
    text-align: center;
    background-color: rgb(25, 175, 138);
    font-size: 30px;
    color: rgb(235, 255, 122);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 30%;
    padding: 10px 0px;
    border-radius: 10px;
   }
   .aa{
    height: 350px;
    width: 800px;
    border: 4px solid black;
    margin-top: 0%;
    margin-left: 12%;
   }
.aa{
    background-image: url(images/match-rule.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.wr{
    color: aliceblue;
    text-align: left;
    font-size: 14px;
    margin-left: 12%;
    margin-top: 5%;
    font-style: italic;
    margin-bottom: 0px;
}
#messi{
    width: 100%;
    margin-bottom: 0%;
}
.nil{
    height: 400px;
    width: 100%;
    background-image: url(images/wp11553144.jpg);
    background-repeat: no-repeat;
    margin-bottom: 0%;
}
.bbb{
    width: 1045px;
    height: 600px;
    background-image: url(Flag/HD-wallpaper-efootball-2022-gaming.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5%;
}
.ttt{
    color: aliceblue;
    font-size: 15px;
    background-color: darkblue;
    width: 50%;
    padding-left: 50%;
    padding-top: 1%;
}
.aaaa img{
    height: 85px;
    width: 85px;
    float: inline-start;
    margin-left:0%;
}
.aaaa img:hover{
    color: rgb(249, 249, 249);
    background-color: yellow;
    height: 85px;
    width: 85px;
}
#aa{
    font-size: 50px;
    background-color: darkblue;
    color: aliceblue;
    padding-right: 874px;
    padding-bottom: 1.3%;
}
.cup img{
    width: 100%;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0px;
}
.lklk{
    background-color: yellow;
    color: rgb(254, 254, 254);
    margin-right: 50%;
    font-size: 20px;
    padding: 30px;
    margin-left: 0%;
    text-align: center;
    border-radius: 10PX;
}
.lklk:hover{
    background-color: black;
    color: deeppink;
}
.logo{
    width:1100px;
    height:500px;
    background-image: url(Flag/output\ \(3\)\ \(6\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.iii{
    text-decoration: none;
}
/*Mobile View*/
@media (max-width:500px){
    h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
section {
    display: block;
}
.point-table{
    display: block;
    }
}